// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 1.5rem;
  // padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



body{
  background-color: #FFF;
  min-height:1000px;
}

.show {
  background:white;
  width:90%;
  height:100%;
  position:fixed;
  opacity: .8;
  left:230px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s,
// transform: scaleX(-1);

}
.show2 {
  background:black;
  // width:50%;
  width:100%;
  height:100%;
  position:fixed;
  // right:25%;
  // top:25%;
  right:0;
  // flex-align:center;
  opacity: .5;
  // -moz-transform: scaleX(-1);
  // -o-transform: scaleX(-1);
  // -webkit-transform: scaleX(-1);
  // // transform: scaleX(-1);
  // filter: FlipH;
  // -ms-filter: "FlipH";
      -webkit-transition: opacity .3s;
    transition: opacity .3s,


}

.image-animate {
  background:orange;

}



.title-heading{
  color:#242424;
  display:block;
  // position: fixed;
  z-index:20;
  font-size: 20px;
  // top:2%;
  // left: 10%;
  font-family: 'Lato';
  // background-color: #242424;
  // height:150px;
  width:100%;
  // font-weight: 900;
  margin-bottom: .2rem;
}
.subheading{
  color:#242424;
  display:block;
  // position: fixed;
  z-index:20;
  font-size: 16px;
  top:14%;
  // left: 10%;
  font-family: 'Lato';
  // background-color: #242424;
  // height:150px;
  width:100%
  // font-weight: 900;
}
.first-name{

  text-transform: uppercase;
}

.last-name{
   text-transform: uppercase;
 // font-weight: 900;
}

.title-navigation{
  z-index: 30;
  // top:10%;
  // left: 7.5%;
  position: fixed; 
  ul{
  list-style: none; 
  padding: 0;
  padding-top: 20px;

}
li{
  // font-size: 16px;
    font-family: 'Lato';
}
p{
  margin-bottom: .75rem;
  line-height:1
}
a{
  color: #242424;
}
}

.sidebar{
  padding:25px;
  width: 300px;
  height:100%;
  background-color: white;
  z-index:1;
  // border: orange solid 2px;
  display:inline;
  float: left;
  position:fixed;
}
.flex-container{

  width:80%;
  z-index:10;
  color: #242424;
  position:fixed;
      display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    // left: 0;
  .text{
    width: 700px; 
    display:none; 
    -webkit-transition: display 3s;
    transition: display 3s,
  }
  ul{
    list-style:none;
    padding:0;
  }

}

ul.contact-list{
  display:none;
  padding:0 0 0 20px;
  font-size:14px;

}
#about-text{    
  -webkit-transition: display 10s;
    transition: display 10s,
}
// button.close{
//   height: 30px;
//   z-index:3000;
//    cursor: pointer; 
//    cursor: hand;
//    border: orange 2px solid;
//  }

button.close:hover{
  cursor: pointer; 
   cursor: hand;

 }

 // #close-button{
 //    cursor: pointer; 
 //   cursor: hand;
 //    border: orange 2px solid;
 //    overflow:auto;
 //    pointer-events: auto;
 //    z-index:3000;
 // }